.wrapper {
    min-height: calc(100vh - 111px);
    margin: 0 auto;
    max-width: 1200px;
}

.search-btn {
    display: block;
    width: 100%;
}

/* List */
.search input:focus,
.search button:focus {
    box-shadow: none !important;
}

.search input.error {
    border-color: #dc3545;
}

.movie-item {
    color: #363636;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.25s ease 0s;
    cursor: pointer;
}
.movie-item .img {
    display: block;
    overflow: hidden;
    margin: 0 0 8px;
}
.movie-item img {
    transition: transform 0.25s ease 0s;
    outline: none;
}
.movie-item:hover {
    color: #5d2375;
}
.movie-item:hover img {
    transform: scale3d(1.1, 1.1, 1);
}

.pagination {
    flex-wrap: wrap;
}
.pagination a:focus {
    box-shadow: none;
}
/* List end */

/* Info */
.go-back {
    margin: 0 0 20px;
}
.go-back svg {
    width: 14px;
    height: 14px;
}
.go-back span {
    line-height: 16px;
    display: inline-block;
    vertical-align: -1px;
    margin-left: 4px;
}

.info-txt h1 {
    margin-bottom: 2rem;
    font-size: 32px;
    font-weight: bold;
}
/* Info end */

footer {
    height: 55px;
    line-height: 53px;
    background: #63676a;
    font-size: 14px;
    color: #e3e3e3;
}